body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.links{
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/*FUNDO DA PÁGINA (você pode trocar quando quiser)*/
.pagina-fundo {
  min-height: 100vh;
  /*EXEMPLOS DE FUNDO**/
  background-color: #1a1a1a;
  background-image: url("../img/fundo.gif"); 
  background: #EBDEC0;
  padding: 20px 0;
}
/*TOPO*/
.cabecalho {
  background: #0A3323;
  color: #839958;
  padding: 30px;
  text-align: left;
}

.info{
  background: #839958;
  color: #0A3323;
  padding: 20px;
  font-size: 14px;
  text-align: left;
}

/*CONTAINER CENTRAL*/
.container {
  max-width: 1500px;
  background-color: #F7F4D5;
  border: none;
  padding: 15px;
}

/*BOXES (estilo portal antigo)*/
.cartao {
  background: #f58699;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}  

/*DESTAQUE CENTRAL*/
.destaque {
  background:#fcac83;
  border: none;
  font-weight: bold;
}

/*RODAPÉ */
.rodape{
  text-align: center;
  font-size: 12px;
  color: #666;
}

.botoes{
  background:#f58699;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
  width: 100%; /*ocupa toda a coluna*/
}

.botoes:hover{
  background:#ff4567;
  color: #105666;
  cursor: pointer;
}

.cartao{
  background:  #105666;
  color:#f58699;
  border: none
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(16, 86, 102, 0.1);
  margin: 10px;

}