body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.links{
  color: tomato;
  text-decoration: none;
  font-size: 16px;
  background: #cdf9ff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/*FUNDO DA PÁGINA (você pode trocar quando quiser)*/
.pagina-fundo {
    min-height: 100vh;

  /*EXEMPLOS DE FUNDO**/
    background-color: #1a1a1a;
    background-image: url("../img/fundo.gif"); 
    background: #b3c8a7;

  padding: 20px 0;
}

/*CONTAINER CENTRAL*/
.container {
  max-width: 1500px;
  background-color: #ffebb9;
  border: 1px solid #da1a29;
  padding: 15px;
}

/*TOPO*/
.cabecalho {
  background: #473334;
  color: white;
  padding: 10px;
  text-align: center;
}

/*BOXES (estilo portal antigo)*/
.box {
  background: #e3536c;
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

/*DESTAQUE CENTRAL*/
.destaque {
  background:#ff4567;
  border: 2px solid #ff3f3f;
  font-weight: bold;
}

/*RODAPÉ */
.rodape{
  text-align: center;
  font-size: 12px;
  color: #666;
}

.botoes{
  background: #ff4567;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
  width: 100%; /*ocupa toda a coluna*/
}

.botoes:hover{
  background:#ff4567;
  color: rgb(190, 255, 199);
  cursor: pointer;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  margin: 10px;

}